/*VARIABLES*/
$color-light: #f7f7f7;
$color-gray: #57606f;
$color-dark: #2d3436;
$color-white: #fff;
$color-yellow: #fed136;
$font-main: 'Open Sans', sans-serif;
$font-italic: 'PT Serif Caption', serif;
$font-decorative: 'Satisfy', cursive;

/*GLOBAL*/
body {
    font-family: $font-main;
    color: $color-dark;
}
.container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header {
  padding-bottom: 50px;
  h2 {
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p {
    font-family: $font-italic;
    font-style: italic;
    color: $color-gray;
  }
}
/*HEADER*/
header {
  position: relative;
  color: #fff;
  img {
    z-index: -1;
    height: 100vh;
    width: 100%;
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    p {
      font-family: $font-italic;
      font-style: italic;
      font-size: 40px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 74px;
    }
    .btn {
      color: $color-white;
      text-transform: uppercase;
      padding: 17 40px;
      font-size: 20px;
      background-color: $color-yellow;
      border-radius: 6px;
      border-color: $color-yellow;
      &:hover {
        background: none;
        color: $color-yellow;
        cursor: pointer;
      }
    }
  }
  .bar {
    position: absolute;
    top: 0 ;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    h4 {
      padding: 0;
      margin: 0;
      font-family: $font-decorative;
      color: $color-yellow;
      font-size: 35px;
    }
      ul {
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 0;
        list-style-type: none;
        text-align: left;
        li {
          padding-left: 50px;
          &:hover a {
            color: $color-yellow;
          }
        }
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
        }
      }
  }
}

/*SERVICES*/
.services{
  text-align: center;
}

/*PORTFOLIO*/
.portfolio {
    background-color: $color-light;
    text-align: center;
    padding-bottom: 50px;
    .card {
      margin: 8px;
    }
    .card-body {
      background-color: #fff;
      padding-bottom: 15px;
      h5 {
        margin: 0;
        padding-top: 20px;
        font-weight: bold;
        font-size: 22px;
      }
      p {
        font-family: $font-italic;
        font-style: italic;
        color: $color-gray;
      }
    }
    .card-image {
      margin-top: 25px;
      img {
      width: 100%;
      }
    }
}

footer {
    font-size: 14px;
    flex-direction: row;
    .container {
      padding: 0;
    }
    p {
      padding-right: 200px;
    }
    img {
      padding-left: 10px;
      width: 40px;
      height: 30px;
    }
}
